@import '../../styles.scss';

$primary: map-get($nigel-theme, primary);

:host {

  .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .list-item-active {
    color:  mat-color($primary) !important;
  }
  
  .nav-spacer {
    flex: 1 1 auto;
  }
  
  .start-label {
    margin-left: 5px;
  }

}
