<div class="grid-container">
  <mat-card *ngIf="getSetting('general.welcomeDisplayed')">
    <mat-card-header>
      <div mat-card-avatar class="nigel-header-image"></div>
      <mat-card-title>Nigel</mat-card-title>
      <mat-card-subtitle>Desktop IIIF curation tool</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Welcome. Under construction...</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="updateSetting('general.welcomeDisplayed', false)">Dismiss</button>
    </mat-card-actions>
  </mat-card>
  <mat-grid-list [cols]="cols | async" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button *ngIf="card.hasOptions" mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-footer>

        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>